<div class="container-fluid col-12 col-md-6 text-center">
    <img class="mb-4" 
    src="./assets/img/logomarca.png" 
    alt="" 
    width="300" 
    height="150">
  <h1 class="h3 mb-3 font-weight-normal">Cadastrar Cliente</h1>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Nome</span>
    </div>
    <input class="form-control" 
      [(ngModel)]="cliente.name"
      aria-label="Sizing example input" 
      aria-describedby="inputGroup-sizing-sm"
      type="text">
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Telefone</span>
    </div>
    <input class="form-control"
      mask="(000) 00000-0000"
      [(ngModel)]="cliente.phone"
      aria-label="Sizing example input" 
      aria-describedby="inputGroup-sizing-sm"
      type="text">
  </div>
  <div class="row">
    <div class="col-7">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Endereço</span>
        </div>
        <input class="form-control" [(ngModel)]="locale.adress" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" type="text">
      </div>
    </div>
    <div class="col-5">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Número</span>
        </div>
        <input class="form-control" 
          [(ngModel)]="locale.adrNumber"
          aria-label="Sizing example input" 
          aria-describedby="inputGroup-sizing-sm"
          type="number">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">CEP</span>
        </div>
        <input class="form-control" (blur)="searchZipCode()" mask="00000-000" [(ngModel)]="locale.zipCode" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" type="text">
      </div>
    </div>
    <div class="col-6">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">País</span>
        </div>
        <input class="form-control" [(ngModel)]="locale.country" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" type="text">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Estado</span>
        </div>
        <input class="form-control" [(ngModel)]="locale.state" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"          type="text">
      </div>
    </div>
    <div class="col-8">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Cidade</span>
        </div>
        <input class="form-control" [(ngModel)]="locale.city" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" type="text">
      </div>
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block" 
  (click)="create()"
  type="submit">Cadastrar Cliente</button>
  <p class="text-center mt-5 mb-3 text-muted">©2018 Daniel Teixeira Patricio</p>
</div>

