<div class="text-center container-fluid">

  <form class="form-crud">

    <img class="mb-4" 
      src="./assets/img/logomarca.png" 
      alt="" 
      width="300" 
      height="150">

    <button class="btn btn-lg btn-primary btn-block "
      (click)="navigateToRegister()"
      type="submit"
      href="/home/register/">Cadastrar Usuario</button>

    <button class="btn btn-lg btn-primary btn-block" 
      (click)="navigateToLogin()"
      type="submit">Entrar Usuario</button>
    

  </form>

</div>
